.ColorCommon{
   color: #bd2937;
}

/* From Uiverse.io by lenfear23 */ 
.input {
   max-width: 200px;
   min-height: 1px;
   height: 10px;

   padding: 10px;
   font-family: 'Courier New', Courier, monospace;
   outline: none;
   background: #ffffff;
   box-shadow: inset 5px 5px 17px #c8c8c8,
             inset -5px -5px 17px #ffffff;
   border: none;
   border-radius: 10px;
   transition: all .5s;
 }

