






/* .secondcard {
    width: 100%; 
    margin-top: -9px;
    margin-left: -24px;
    height: 101%;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
 
    .secondcard {
      width: 80%; /
    }
  }
  
  @media (min-width: 1024px) {
    
    .secondcard {
      width: 1000px; 
    }
  } */
  /* @media (max-width: 430px) {
    .secondcard {
      width: 900px; 
      margin-left: 1000px;
     
      height: 100px; 
    }
  } */
  .button1{
    background-color: #bd2937 !important;
  }
  /* @media(max-width:364px){
    .second{
      width: 40%;
      margin-left: 300px;
    }
  } */