.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px; 
  z-index: 1000;
}

.left-content {
  flex: 1;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 250px; 
}
