
  

  @media (max-width: 375px) {
    .thirdcard {
      width: 490px;   
      height: 400px; 
      margin-top: 5px; 
      margin-left: 58px; 
      margin-bottom: 2px; 
    }
  }
  @media (max-width: 575px) {
    .thirdcard {
      width: 770px;   
      height: 300px; 
      margin-top: 5px; 
      margin-left: 100px; 
      margin-bottom: 16px; 
    }
  }
