/* styles.css */
/* .thirdcard {
    width: 130%;
    height: 640px;
    padding: 16px;
    overflow-y: auto;
    margin-top: -3px;
    margin-left: 15px;
  } */
  
  /* Media query for screens 430px or smaller */
  @media (max-width: 430px) {
    .thirdcard {
      width: 110%;   /* Full width for small screens */
      height: 1000px;  /* Adjust height based on content */
      margin-top: 5px; 
      margin-left: 75px; 
      margin-bottom: 20px; /* Remove margin-left */
    }
  }
  @media (max-width: 320px) {
    .thirdcard {
      width: 400px;   /* Full width for small screens */
      height: 1000px;  /* Adjust height based on content */
      margin-top: 5px; 
      margin-left: 75px; 
      margin-bottom: 20px; /* Remove margin-left */
    }
  }