#root{
    zoom: 80%;
    --primary-bg-color: #bd2937;
    --header-bg-color: #bd2937;
}
.commonColor{
    background-color: #bd2937;
}
/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll; 
    font-family: Arial, sans-serif;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

/* Hide scrollbar for other browsers */
/* html, body {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
} */
