.button{
  background-color: #bb4d58 !important;
}
.button:hover{
  background-color: #bd2937 !important;
}

  
/* @media (min-width: 993px) and (max-width:1200px) {
  .patient {
    width: 580px ;
    
  }

}
@media (max-width:350px){
.patient{
  width: 2px;
}
.heights{
  height: 140px;
}
.cardheight{
  height: 880px;
}

}
@media (max-width:414px){
.patient{
  width: 365px;
}
.heights{
  height: 140px;
}
.cardheight{
  height: 880px;
}
.height1{
  height: 980px;
}

}
@media (max-width:390px){
.patient{
  width: 345px;
}
.heights{
  height: 140px;
}
.cardheight{
  height: 880px;
}
.height1{
  height: 980px;
}

}
@media (max-width:430px){
.patient{
  width: 380px;
}
.heights{
  height: 140px;
}
.cardheight{
  height: 880px;
}
.height1{
  height: 980px;
}

}
@media (max-width:412px){
.patient{
  width: 370px;
}
.heights{
  height: 140px;
}
.cardheight{
  height: 880px;
}
.height1{
  height: 980px;
}

}
@media (max-width:360px){
.patient{
  width: 320px;
}
.heights{
  height: 140px;
}
.cardheight{
  height: 880px;
}
.height1{
  height: 980px;
}

}
@media (max-width:990px){
  .patient{
    width: 350px;
  }
}
@media (max-width:900px){
  .patient{
    width: 230px;
  }
}
@media (max-width:600px){
  .patient{
    width: 470px;
  }
  .heights{
    height: 130px;
  }
}
@media (max-width:1000px){
  .height1{
    height: 150px;
  }
}

@media (max-width:960px){
  .cardheight{
   height: 380px;
  }

}
@media (max-width:600px){
  .cardheight{
   height: 872px;
   width: 470px;
  }
  .patient{
    width: 470px;
  }

}
@media (max-width:575px){

  .patient{
    width: 530px;
  
  }
.heights{
  height: 140px;
}
}

@media (max-width:568px){

  .patient{
    width: 500px;
  
  }

}
@media (max-width:540px){

  .patient{
    width: 500px;
  
  }
  .cardheight{
    height: 890px;
  }



}
@media (max-width:412px){

 .height1{
  height: 980px;
 }


}
@media (max-width:414px){

  .patient{
    width: 200px;
  
  }
  .height1{
    height: 980px;
  }

}
@media (max-width:466px){

  .patient{
    width: 420px;
  
  }

}
@media (max-width:430px){

  .patient{
    width: 390px;
  
  }
  .height1{
    height: 980px;
  }

}
@media (max-width:395px){

  .patient{
    width: 350px;
  
  }

}
@media (max-width:375px){

  .patient{
    width: 330px;
  
  }
  .height1{
    height: 980px;
  }

}
@media (max-width:350px){
  .patient{
    width: 310px;
  }
}
@media (max-width:768px){
  .height1{
    height: 480px;
  }
  .user{
    height: 553px;
  }
}
@media (max-width:912px){
  .height1{
    height: 480px;
  }
  .user{
    height: 553px;
  }
} */


/* Extra small devices (phones, 600px and down) */
@media  screen and (max-width: 600px) {
  .patient{
    width: 470px;
  }
  .heights{
    height: 140px;
  }
  .cardheight{
    height: 890px;
  }
  .height1{
    height: 980px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media  screen and (min-width: 600px) {
  .patient{
    width: 240px;
  }
  .heights{
    height: 80px;
  }
  .cardheight{
    height: 380px;
  }
  .height1{
    height: 475px;
  }
  .user{
    height: 547px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media  screen and (min-width: 768px) {
  .patient{
    width: 240px;
  }
  .heights{
    height: 80px;
  }
  .cardheight{
    height: 380px;
  }
  .height1{
    height: 475px;
  }
  .user{
    height: 547px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media  screen and (min-width: 992px) {
  .patient{
    width: 575px;
  }
  .heights{
    height: 70px;
  }
  .cardheight{
    height: 350px;
  }
  .height1{
    height: 437px;
  }
  .user{
    height: 510px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  screen and  (min-width: 1200px) {
  .patient{
    width: 830px;
  }
  .heights{
    height: 70px;
  }
  .cardheight{
    height: 350px;
  }
  .height1{
    height: 440px;
  }
  .user{
    height: 508px;
  }
}
@media  screen and (max-width: 912px) {
  .patient{
    width: 350px;
  }
  .heights{
    height: 70px;
  }
  .cardheight{
    height: 380px;
  }
  .height1{
    height: 470px;
  }
  .user{
    height: 545px;
  }
}
@media  screen and (max-width: 375px) {
  .patient{
    width: 330px;
  }
  .heights{
    height: 135px;
  }
  .cardheight{
    height: 880px;
  }
  .height1{
    height: 970px;
  }
  .user{
    height: 545px;
  }
}
@media  screen and (max-width: 414px) {
  .patient{
    width: 370px;
  }
  .heights{
    height: 135px;
  }
  .cardheight{
    height: 880px;
  }
  .height1{
    height: 970px;
  }
  .user{
    height: 545px;
  }
}
@media  screen and (max-width: 390px) {
  .patient{
    width: 350px;
  }
  .heights{
    height: 135px;
  }
  .cardheight{
    height: 880px;
  }
  .height1{
    height: 970px;
  }
  .user{
    height: 545px;
  }
}
@media  screen and (max-width: 430px) {
  .patient{
    width: 380px;
  }
  .heights{
    height: 135px;
  }
  .cardheight{
    height: 880px;
  }
  .height1{
    height: 970px;
  }
  .user{
    height: 545px;
  }
}
@media  screen and (max-width: 412px) {
  .patient{
    width: 370px;
  }
  .heights{
    height: 135px;
  }
  .cardheight{
    height: 880px;
  }
  .height1{
    height: 970px;
  }
  .user{
    height: 545px;
  }
}
@media  screen and (max-width: 360px) {
  .patient{
    width: 320px;
  }
  .heights{
    height: 135px;
  }
  .cardheight{
    height: 880px;
  }
  .height1{
    height: 970px;
  }
  .user{
    height: 545px;
  }
}

