@media (max-width: 990px){
    .customwidth{
        width:450px
    }
}
@media (max-width: 900px){
    .customwidth{
        width:380px;
        margin-left:-110px;
    }
    .customheight{
        height: 380px;
    }
    .user{
        width: 200px;
        height: 535PX;
    }
}
@media (max-width: 600px){
    .customwidth{
        width:590px;
       margin-left:-23px;
    }
    .customheight{
        height: 960px;
    }
    .user{
        width: 595px;
        height: 535PX;
    }
}
@media (max-width: 510px){
    .customwidth{
        width:580px;
       margin-left:-23px;
    }
    .customheight{
        height: 960px;
    }
    .user{
        width: 580px;
        height: 535PX;
    }
}
@media (max-width: 299px){
    .customwidth{
        width:320px;
       margin-left:-23px;
    }
    .customheight{
        height: 960px;
    }
    .user{
        width: 320px;
        height: 535PX;
    }
}
@media (min-width: 310px) and (max-width: 510px){
    .customwidth{
        width:480px;
       margin-left:-23px;
    }
    .customheight{
        height: 960px;
    }
    .user{
        width: 490px;
        height: 535PX;
    }
}